
@font-face {
    font-family: "Niveau Grotesk";
    src: url('Niveau_Grotesk/HVD\ Fonts\ -\ NiveauGroteskRegular.otf');
}

body{
    font-family: "Niveau Grotesk";
    background-image: url('aiwebsitebackground.png');
}
a{
     color: rgb(60,149,124);
}
h1{
    text-align: center;
    padding-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-bottom: 2px solid black;

}
ul{
    text-align: center;
    margin-top: 10px;

}
.about{
    margin: 25px;
    border: 1px solid  white;
    font-size: 1.5rem;
    font-family: "Niveau Grotesk";
    text-align: center;
    background-color: lightgray;
}
footer{
    color: lightgray;
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px black;
}
.bar{
    padding: 5px;
    border-collapse: collapse;
    border-right: 2px solid black;
    text-align: center;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    background-color: lightgray;


}
.bar:last-child{
    border-width: 0px;
}