{% extends "hub/layout.html" %}

{% block body %}

<div class="about">

         <span style="font-size: 5vh; padding: 0px;";>Hi!</span> I'm Anthony, a web developer from Glen Allen, Virginia. I use <a href="https://www.djangoproject.com/">django</a>, a web framework, to create websites. I learned to use Django while taking the course <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript?index=product&queryID=929a66e0e93e3ea1669e8e3a28f6214b&position=2">CS50's Web Programming with Python and JavaScript</a>, you can view my certificate <a href="https://courses.edx.org/certificates/313204887ef345b393452048576ae249">here</a>. <br>
         
</div>
{% endblock %}