{% extends "ticketapp/layout.html"%}
{%load static%}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
    <script>var tickets = [];
    for( ticket in {{tickets|safe}}){
        console.log({{tickets|safe}});
        console.log(ticket["showing"]);
    tickets.push( ticket);
    }
    console.log(tickets);
    
    </script>
    <script src="{% static 'ticketapp/cart.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Your Cart</h1>
<p style="padding-left: 10px;" class="warning">These tickets are not reserved until purchased, purchase soon to ensure your seat</p>
<ol id="cart">

    {% for ticket in tickets %}
    <li class="ticketlist"><i class="moviename">{{ticket.showing.movie.film}}</i>{{ticket.showing.date}}, {{ticket.showing.time}}<br>
        <span style="float: right;"><button>$5.00</button></span>
        <p style="padding-left: 10vw;">Seat: Column {{ticket.column}}, Row {{ticket.row}}</p>
    </li>
    {% endfor %}
</ol>
{% endblock %}