{% extends "ticketapp/layout.html"%}
{%load static%}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
    <script>
        var tickets = {{tickets|safe}};
        {% if invalidTickets %}
        var badTickets = {{invalidTickets|safe}};
        {% endif %}
        var garbageCan = '{% static "ticketapp/garbagecan.png" %}';
    </script>
    <script src="{% static 'ticketapp/cart.js' %}"></script>
{% endblock %}

{% block body %}
{% if invalidTickets != empty %}
<h1>The following tickets are no longer available:</h1>
{% endif %}
{% for ticket in invalidTickets %}
<li class="invalidTicket">
    <h1 class="moviename">{{ticket.showing.movie.film}}</h1><h1> {{ticket.showing.date}},{{ticket.showing.time}}</h1>
    <h2>Column: {{ticket.column}}, Row: {{ticket.row}}</h2>
</li>
{% endfor %}
<form action="{% url 'confirmpurchase' %}" method="post">
    {% csrf_token %}
    
<input type="submit" value="Purchase">
</form>

<form action="{% url 'emptyCart' %}" method="post">
    {% csrf_token %}
    
<input type="submit" value="Empty Cart" style="background-color: red;">
</form>

<h1>Your Cart</h1>
<p style="padding-left: 10px;" class="warning">These tickets are not reserved until purchased, purchase soon to ensure your seat</p>
<ol id="cart">

</ol>
{% endblock %}