{% extends "ticketapp/layout.html"%}
{%load static%}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
    <script> var video = "{% static 'ticketapp/gamma2.mov' %}";
    var ticketicon = "{% static 'ticketapp/ticketicon.png' %}";
    var movies = "{{movies}}";
    </script>
    <script src="{% static 'ticketapp/sketch.js' %}"></script>
{% endblock %}

{% block body %}
<div>
    <span>
        <strong>Theater View</strong>
        <input type="date" id="timeselect" min="{{currentdatetime.year}}-{{currentdatetime.month}}-{{currentdatetime.day}}" max="{{currentdatetime.year}}-{{currentdatetime.month}}-20">
        <a href="{% static ticketapp/checkout.html %}">link</a>
    </span>
    <span id="banner"></span>
</div>
<div id="movies">
</div>
<div id="p5app" style="background-image: url('../../static/ticketapp/curtains.jpg'); background-size: cover; user-select: none;">
</div>
{% endblock %}