{% extends "ticketapp/layout.html"%}
{%load static%}

{% block script %}
    
    <script src="{% static 'ticketapp/p5.js' %}"></script>
    <script>
        var ticketicon = "{% static 'ticketapp/ticketicon.png' %}";
        var staricon = "{% static 'ticketapp/uncoloredstar.png' %}";
        var yellowstaricon = "{% static 'ticketapp/yellowstar.png' %}";

    </script>
    <script src="{% static 'ticketapp/review.js' %}"></script>
    
{% endblock %}

{% block body %}
<div id="reviewcontainer">
    
    <div id="reviewsubcontainer">
            {%for movie in movies %}
                <li style="list-style: none;">
                    <span><img class="posters" src="{{movie.preview}}"></span>
                    <h2 style="color: white; text-align: center;">
                        {% if movie.rating == 0 %}
                            No ratings yet
                        {%else%}
                            {{movie.rating}}/5
                        {%endif%}
                    </h1>
                </li>
            {%endfor%}
    </div>
    <div id="reviewsubcontainer2">
        <div id="reviewstars">

        </div>
        <form id="post-form" method="post">
            <p hidden>{% csrf_token %}</p>
            
            
            <textarea id="text-content" type="textarea" placeholder="How was the movie?" name="comment" maxlength="499" style="font-size: 5vw; height: 11vw; width: 80vh; text-align: center; display: block; margin-left: auto; margin-right: auto;"></textarea>
            <input id="submit-post" type="submit" value="Post Review" style="font-size: 5vw; width: 80vh; text-align: center; display: block; margin-left: auto; margin-right: auto;">
        </form>
    </div>
</div>
{% endblock %}