{% extends "ticketapp/layout.html"%}
{%load static%}

{% block script %}
    
    <script src="{% static 'ticketapp/p5.js' %}"></script>
    <script>
        var ticketicon = "{% static 'ticketapp/ticketicon.png' %}";
    </script>
    
{% endblock %}

{% block body %}
<div id="reviewcontainer">
    
    <div id="reviewsubcontainer">
            {%for movie in movies %}
                <li style="list-style: none;">
                    <span><img class="posters" src="{{movie.preview}}"></span>
                    <h2 style="color: white; text-align: center;">
                        {% if movie.rating == 0 %}
                            No ratings yet
                        {%else%}
                            {{movie.rating}}/5
                        {%endif%}
                    </h1>
                </li>
            {%endfor%}
    </div>
    <form id="post-form">
        <p hidden>{{csrf_token}}</p>
        <textarea id="text-content" type="textarea" placeholder="How was the movie?" name="comment" style="font-size: 5vw; height: 11vw; width: 80vh; text-align: center; display: block; margin-left: auto; margin-right: auto;"></textarea>
        <input id="submit-post" type="submit" value="Post Review" style="font-size: 5vw; width: 80vh; text-align: center; display: block; margin-left: auto; margin-right: auto;">
    </form>
</div>
{% endblock %}