unused
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}TicketPal{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'ticketapp/styles.css' %}" rel="stylesheet">
        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
        <script> var video = "{% static 'ticketapp/gamma2.mov' %}";</script>
        <script src="{% static 'ticketapp/sketch.js' %}"></script>
        {% endblock %}
    </head>